body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #FCFC62;

}
h1{
    color:#424242;
}
h2{
    color:#2D2E2E;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}